/*index页面的样式表  */
/* banner */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    height: 500px;
    background-color: pink;
}

.banner img {
    height: 500px;
    width: 1250px;
}

.banner .aside {
    position: absolute;
    left: 111px;
    top: 179px;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, .3);
}

.wrapper .aside li {
    height: 50px;
    line-height: 50px;
}

.banner .aside a {
    position: relative;
    padding-left: 35px;
    padding-right: 20px;
    /* 宽度和父级一样 */
    display: block;
    /* width: 250px; */
    height: 50px;
    /* background-color: pink; */
    color: #fff;

}

.banner .aside span {
    font-size: 14px;
    margin-left: 15px;
}

.banner .aside a:hover {
    background-color: #b8b4df;
}

.banner .aside a::after {
    position: absolute;
    right: 19px;
    top: 19px;
    content: "";
    width: 6px;
    height: 11px;
    background-image: url(../img/sprites.png);
    /* background-color: pink; */
    background-position: -80px -110px;
}

.prev,
.next {
    position: absolute;
    top: 430px;

    width: 45px;
    height: 45px;
    background-color: rgba(0,0,0,.2);
    background-image: url(../img/sprites.png);
    border-radius: 50%;


}

.prev {
    left: 380px;
    background-position: 14px -60px;
}

.next {
    right: 150px;
    background-position: -23px -60px;
}

.banner ol {
    position: absolute;
    left: 680px;
    bottom: 80px;
    height: 10px;
    /* width: 200px; */
    /* background-color: pink; */
}

.banner ol li {
    float: left;
    margin-right: 24px;
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
}

.banner ol .current {
    background-color: #fff;
}


/* 产品 */
.goods .hd {
    height: 114px;
    /* background-color: pink; */
    line-height: 114px;

}

.goods .hd h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
}

.goods .hd h2 span {
    margin-left: 34px;
    font-size: 16px;
    /* background-color: #999; */

}

.goods .hd a {
    float: right;
    color: #999;
}

.goods .hd a::after {
    content: "";
    display: inline-block;
    margin-left: 13px;
    width: 7px;
    height: 13px; 
    /* background-color: green; */
    background-image: url(../img/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
}

.goods .bd li {
    float: left;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    
}